.row.main-container {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: row;
    text-align: start;
    row-gap: 10px;
}

.main-container select,
input {
    width: 100%;
}

.terms-checkbox input[type="checkbox"] {
    width: auto;
}

.register-btn {
    width: auto;
    padding: 10px;
}

.register-btn .btn-primary {
    margin-right: 10px;
    ;
}