.nav-container {
    background-color: rgb(244, 249, 249);
    height: 100vh;
    width: 100%;
    display: flex;
}

.nav-container-left {
    width: 20%;
    background-color: rgb(224, 248, 248);
}

.left-title-container {
    display: flex;
    justify-content: space-between;
}

.nav-element {
    padding: 20px;
}

.nav-element:hover {
    background-color: rgb(201, 127, 75);
}

.active {
    background-color: rgb(201, 127, 75);
}